//COLORS
$purple: #844efe;

$black: #151515;
$white: #fff;
$dark-gray: #727272;
$light-gray: #898989;
$extra-light-gray: #dfdfdf;
$red: #db6b69;


//FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

$font: 'Poppins', sans-serif;